<div id="page_wrapper">
	<div id=profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mista Stick Figure</h1>
		<p>DIY qui pickled XOXO enim intelligentsia. Tumeric polaroid freegan adipisicing ipsum culpa. Narwhal jianbing commodo cardigan hoodie austin. Nostrud everyday carry letterpress VHS slow-carb, fanny pack vaporware meh hell of cloud bread cornhole +1 chambray. Meh meditation non fam portland quis hammock street art synth four dollar toast.</p>
	</div>

</div>
